html {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden; }

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.offscreenText {
  display: none; }

/* Necessary for screen reader users.
Must not include display:none or visibility:hidden */
offscreenText {
  font-size: 0;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
  z-index: -1000; }
