/*
Syntax error: Undefined mixin 'box-shadow'.
        on line 18 of css/sass/fixed_layout.scss, in `box-shadow'
        from line 18 of css/sass/fixed_layout.scss

13: 
14: .fixed-page-wrap {
15: 	position: absolute;
16: 	left: 25%;
17: 	overflow: hidden; 
18: 	@include box-shadow(0 0 5px 5px rgba(80,80,80,0.5));
19: 	background-color: #FFF;
20: }
21: 
22: .apple-fixed-layout #spine-divider {
23: 	    position: absolute;

Backtrace:
css/sass/fixed_layout.scss:18:in `box-shadow'
css/sass/fixed_layout.scss:18
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:238:in `visit_rule'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/tree/root_node.rb:20:in `render'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/engine.rb:300:in `_render'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/engine.rb:247:in `render'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:340:in `update_stylesheet'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `each'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin/compiler.rb:234:in `watch'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/plugin.rb:107:in `method_missing'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/exec.rb:431:in `watch_or_update'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/exec.rb:302:in `process_result'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/exec.rb:41:in `parse'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/lib/sass/exec.rb:21:in `parse!'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/gems/sass-3.1.20/bin/sass:8:in `<top (required)>'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/bin/sass:23:in `load'
/Users/justinhume/.rvm/gems/ruby-1.9.3-p194@readium/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'box-shadow'.\A         on line 18 of css/sass/fixed_layout.scss, in `box-shadow'\A         from line 18 of css/sass/fixed_layout.scss\A \A 13: \A 14: .fixed-page-wrap {\A 15: 	position: absolute;\A 16: 	left: 25%;\A 17: 	overflow: hidden; \A 18: 	@include box-shadow(0 0 5px 5px rgba(80,80,80,0.5));\A 19: 	background-color: #FFF;\A 20: }\A 21: \A 22: .apple-fixed-layout #spine-divider {\A 23: 	    position: absolute;"; }
