#toolbar-el {
	height: 52px;
}

.navbar {

	.nav > li > a {
		padding: 5px 0;
	}

	li {
		margin: 3px;
		padding: 0;
	}

	.brand {
		padding: 8px;
		margin-left: 10px;
	}

	.divider-vertical {
		height: 52px;
		background-color: black;
		border-right: 1px solid #3D3D3D;
	}

	.divider-vertical.stubby {
		margin-top: 8px;
		height: 35px;
	}

	.nav-icon {
		height: 36px;
		width: 36px;
	}

	#bar-logo-img {
		width: 142px;
		height: 36px;
	}


}

#show-toolbar-button {
	padding: 8px;
	margin-right: 7px;
	display: none;
}

#add-book-li {
	margin-right: 22px;
}